# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Automake with driends
*.m4
build-aux/*
*.guess
config.h
config.h.in
*.log
*.status
configure
libtool
Makefile
*.in
stamp-h1
autom4te.cache/*
.libs

#tmp files
*~
*#
.#*



*.Plo

*.lai


*.sub

.deps/

*.Po

src/.dirstamp

*.trs

test/check_spudlib


samplecode/spudtest

samplecode/spudecho
cscope.files
