# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.m4

build-aux/*


*.guess

config.h

config.h.in

*.log

*.status

configure

*.ac~

libtool

Makefile

*.in

*.Plo

*.lai

*.am~

stamp-h1

*.0

*.1

*.2

autom4te.cache/requests

*.sub

build-aux/depcomp

build-aux/install-sh

build-aux/missing

build-aux/test-driver

src/.deps/.dirstamp

*.Po

src/.dirstamp

*.trs

test/check_spudlib

*.c~
